# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Rust build artifacts
target/
Cargo.lock

# Common
.git
.gitignore
*.log
*.md
*.env

build/
/**/release/
/**/debug/
pkg/test_data/
